{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html>
    <!-- access Plotly content delivery network (CDN) charting library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<body>
    <h2>Top 5 Overall Result</h2>
    <div id="myHBarPlot" style="width:200%; max-width:1000px;"></div>

    <script>
        // Note SPACE after each fruit name so gap before horizontal bars
        const resultsList = {{ value_list | safe }};
        const bestDriverList = {{ name_list | safe }};
        // REPLACE constants above with passed in variables.
        // Use the '|safe' Jinja filter to mark them as safe (prevents your data being html-escaped). eg,
        // var myList = {{ list_from_py | safe }}

        // Define graph data
        const data = [{ x: resultsList,  y: bestDriverList,  type:"bar", orientation:"h", marker: {color:"blue"} }];

        // Define graph layout. Excluded a y-axis title as fruit names are self-explanatory.
        const layout = {  
            xaxis: {range: [0, 300], title: "Overall Time"},
            yaxis: {automargin: true}, 
            title: "Top 5 Overall Result"
        };

        // Display using Plotly
        Plotly.newPlot("myHBarPlot", data, layout);

    </script>

</body>
</html>

{% endblock %}

